
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #40ed5d;
  color: #333;
}
header{
  background-color:goldenrod;
  color: white;
  text-align: center;

}
.container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}
section{
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px;
  

}

h2{
  font-size: medium;
  background-color: goldenrod;
  color: rgb(255, 251, 253);
}

